<a href="https://colab.research.google.com/github/anuroopshannu/python/blob/master/python_tutorial_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MICROPYTHON BASICS

In [0]:
print("Hello, World!")

Hello, World!

### Variables and Assignment

In [0]:
# defining a variable : In Python there is no need to mention the data type

var1 = 10      # An integer assignment
var2 = 3.146   # A floating point
var3 = "Hello" # A string

print(var1,' ',var2,' ',var3)

(10, ' ', 3.146, ' ', 'Hello')

In [0]:
#assign and print value of pi here:

In [0]:
# Assigning same value to multiple variables

var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

# Assigning Different values to variable in a single expression

var1, var2, var3 = 1, 2.5, "john"
print(var1,' ',var2,' ',var3)

# Note: commas can be used for multi-assignments

### Strings

In [0]:
# String operations

str = 'Hello World!'  # A string

print(str)          # Prints complete string

In [0]:
print(str[0])       # Prints first character of the string

### Slicing

In [0]:
print(str[2:5])     # Prints characters starting from 3rd to 5th
print(str[2:])      # Prints string starting from 3rd character
print(str[:2])

In [0]:
#other operations
print(str * 2)      # Prints string two times
print(str + "TEST") # Prints concatenated string

In [0]:
#convert the word FoGR into pig-latin,(i.e.) oGRFay
name = "FoGR"

### Typecasting

In [0]:
a = 1.2
a = str(a)

b = 2
b = float(b)

### Lists

In [0]:
# Python Lists
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]  # A list
print(list)

In [0]:
#Indexing
print(list[0])
print(list[-1])

In [0]:
#append
list.append(8)

In [0]:
#Create a list of 5 elements of type string




#print the 3rd element




#Append another double element

### Dictionaries

In [0]:
# Lists are ordered sets of objects, whereas dictionaries are unordered sets. But the main difference is that items in dictionaries are accessed via keys and not via their position.
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)
print(tel['jack'])
tel['irv'] = 4127
print(tel)

In [0]:
#Dictionary Operations
print(tel.keys())
print(sorted(tel.keys()))
print(sorted(tel.values()))
print('guido' in tel)
print('jack' not in tel)

### Conditional Statements

#### If-Else

In [0]:
n = 5
if(n%2==0):
    print("The number is even") #mind the indentation
else:
    print("The number is odd") #same here

#### Else-if

In [0]:
if(3<1):
    print("Entered if")
elif(2<3):
    print("Entered elif")
else:
    print("Entered else")

In [0]:
#program for conditionals
a = 5
b = 10

#write a program to see if a>b or b>a or a=b

### Loops

In [0]:
for i in range(0,100):
    print(i)

In [0]:
# Square of odd numbers between 1 and 10

In [0]:
j = 0
while(j<10):
    print("I love python!!!")
    j+=1

In [0]:
#While loop to print prime numbers between 2 and 50

### Functions in Python

In [0]:
def area(length,width):
    return length*width

are = area(10,20)

print("Area of rectangle:",are)

In [0]:
#program using functions to perform addition, subtraction, multiplication and division.

### Built-in Functions

In [0]:
print("Sum of array: ",sum([1,2,3,4]))
print("Length of array: ",len([1,2,3,4]))
print("Absolute value: ",abs(-1234))
print("Round value: ",round(1.2234))

### Imports

In [0]:
import math as mt      # importing a package
print("Log value: ",mt.log(10))

### program to create a shopping cart to perform the following:

1. add item to cart
2. delete item from cart
3. calculate total